* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color: #00008A;
    }

img {
    color: black;
}

body {
    background-color: lightgrey;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    padding: 1vh 0vw 0vh 1vw;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 0vw 1vh 3vw;
    flex-direction: column;
    width: 500px;
    justify-content: center;
   
}

label {
    display: flex;
    flex-wrap: wrap;
}

input {
    justify-content: center;
}

.box1 {
    margin: 10px;
    width: 600px;
    height: 1000px;
    background-color: white;
}

.box2 {
    margin: 10px;
    width: 600px;
    height: 1000px;
    background-color: white;
}

.box3 {
    margin: 3%;
    background-color: white;
    width: 1800px;
    height: 800px;
}

table {
    width: 100%;
}
table, th, td {
    border:1px solid black;
  }


/* ul li{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
} */

input#de {
    display: flex;
}

/* [for~=CO] {
    width: 500px;
} */

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }

  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block
  }

  #myMenu li a:hover {
    background-color: #eee;
  }

  .cal {
    margin: 10px;
    width: 400px;
    height: 580px;
    background-color: white;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 2px solid grey; 
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: grey;
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
