* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color: #00008A;
    }

img {
    color: black;
}

body {
    background-color: lightgrey;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    flex-direction: column;
    width: 300px;
}

.box1 {
    margin: 3%;
    width: 840px;
    height: 800px;
    background-color: white;
}

.box2 {
    margin: 3%;
    width: 840px;
    height: 800px;
    background-color: white;
}

.box3 {
    margin: 3%;
    background-color: white;
    width: 1800px;
    height: 800px;
}

ul {

}

li{
    display: flex;
    flex-wrap: wrap;
}
