* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color: #00008A;
    }

img {
    color: black;
}

body {
    background-color: lightgrey;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    padding: 1vh 0vw 0vh 1vw;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 0vw 1vh 3vw;
    flex-direction: column;
    width: 500px;
    justify-content: center;
   
}

label {
    display: flex;
    flex-wrap: wrap;
}

input {
    justify-content: center;
}

.box1 {
    margin: 3%;
    width: 840px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box2 {
    margin:3%;
    width: 840px;
    height: 800px;
    background-color: white;
}

.box3 {
    margin: 3%;
    background-color: white;
    width: 1800px;
    height: 800px;
}

table {
    width: 100%;
}
table, th, td {
    border:1px solid black;
  }


/* ul li{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
} */

input#de {
    display: flex;
}

/* [for~=CO] {
    width: 500px;
} */

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }

  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }

  #myMenu li a:hover {
    background-color: #eee;
  }

